.videoPlayer {
  position: relative;
  width: 850px;
  height: 600px;

  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    height: 100%;
  }
  .videoPlayer__controls {
    position: absolute;
    bottom: 3px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 10;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s linear;

    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;

      #js-volumeButton {
        position: relative;

        &:hover {
          .videoPlayer__volume {
            opacity: 0.5;
          }
        }

        .videoPlayer__volume {
          width: 120px;
          padding: 0 10px;
          left: -50px;
          top: -90px;
          position: absolute;
          transform: rotateZ(-90deg);
          background-color: black;
          opacity: 0;
          transition: opacity 0.4s linear;
        }
        #js-volume {
          padding: 10px 0;
        }
      }

      i {
        margin-right: 10px;
      }
    }
    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }
    .videoPlayer__column:last-child {
      justify-self: end;
    }
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
